<div class="about">
    <div class="rectangle-4"></div>
    <div class="group-1">
        <a href="https://github.com/marua15">
          <div class="rectangle-6"></div>
        </a>
        <a href="https://github.com/SoukainaElidrissi">
          <div class="rectangle-7"></div>
        </a>
        <a href="https://github.com/HAITAME">
          <div class="rectangle-8"></div>
        </a>
        <a href="https://github.com/BILALck4">
          <div class="rectangle-9"></div>
        </a>
      </div>
      
    <div class="logo">Insurance</div>
    <br>
    <div class="about-us">About us</div>
    <div
      class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla"
    >
    Welcome to our decentralized microservices architecture, 
    accessible through a dynamic SPA/WPA frontend. 
    Our platform revolutionizes insurance contract management with 
    smart contracts, offering transparency and cost-efficiency.
    <br>
    <br>
    Our backend, powered by Spring Boot and DevOps tools (
    Git, Docker, Kubernetes, Jenkins), efficiently handles 
    insurance business logic. Additionally, our recommendation system, 
    driven by machine learning algorithms, tailors offers to individual 
    profiles.
    <br>
    <br>
    With Flask and MLOps tools (Git, Docker, AirFlow, Kafka), 
    we deploy high-performing models, utilizing Kubeflow for streamlined 
    pipelines. Join us in reshaping the insurance landscape with transparency,
    innovation, and efficiency.
    </div>
  </div>
  