
<div class="container">
    <h1>Welcome Back !</h1>
    <br>
      <form action="/register" method="post">
        <div class="group">
            <p>
                <mat-form-field appearance="outline" class="mat-input-custom-width">
                <mat-label>Wallet Address</mat-label>
                <input matInput placeholder="" >
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline" class="wallet-address-input">
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" >
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </p>
        </div>
       <button type="submit">Login</button>
    </form>
  </div>

