app-rout{
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.app-blockchaine-section{
    width:  100%;
    display: flex;
 }