.example-card-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.example-card {
  width: 250px;
  margin: 10px;
  height: 500px;
}

.example-header-image {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.example-card-content {
  padding: 12px;
  max-height: 100px; /* Adjust the maximum height as needed */
}

.example-card-title {
  font-size: 16px;
  font-weight: bold;
}

.example-card-subtitle {
  font-size: 12px;
  color: #666;
}

.example-card-price {
  font-size: 14px;
  font-weight: bold;
  margin-top: 6px;
}

/* Prediction Result Section */
.prediction-result {
  margin-top: 20px; /* Add some margin for spacing */
}
