<div class="example-card-container">
    <div *ngFor="let singleAssurance of assurances">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{ singleAssurance?.nom }}</mat-card-title>
          <mat-card-subtitle>{{ singleAssurance?.idAssurance }}</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content class="example-card-content">
          
            <p>{{ singleAssurance?.description }}</p>
          <p>Price: {{ singleAssurance?.prix }}</p>
          <button mat-button color="primary" (click)="chooseInsurance(singleAssurance.idAssurance)">Choose</button>

        </mat-card-content>
      </mat-card>
    </div>
  </div>
  