/* You can add global styles to this file, and also import other style files */

 

body {
  padding-top: 56px; /* Adjust the padding-top based on your navbar height */
   margin: 0;
   padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(to right,rgb(153, 101, 153),rgb(153, 47, 153),rgb(113, 10, 113)); /* Light blue to Dark blue */
  height: 3000px;
  display: flex;
  justify-content: center;
  color: #fff;
}
